*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;

}
@property --gradient-start {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }
  
  @property --gradient-end {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }
@keyframes miAnimation{
0%{
    opacity: 1;
}
20%{
    opacity: 1;
}
30%{
    opacity: 0;
}
90%{
    opacity: 0;
}
100%{
    opacity: 1;
}

}

.fondo1{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/imagenes/meliodas-nanatsu-no-taizai.gif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: miAnimation 24s linear 18s infinite;
}
.fondo2{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/imagenes/tokyo-ghoul-acegif-1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: miAnimation 24s linear 12s infinite;
}
.fondo3{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/imagenes/Calcifer.gif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: miAnimation 24s linear 6s infinite;
}
.fondo4{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(/imagenes/tumblr_3223c88c8adf703e37e1e45a488890c3_25402428_540.gif);
    background-repeat: no-repeat;
    background-size: cover;
    animation: miAnimation 24s linear 0s infinite;
}

.Logo{
    position: absolute;
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-left: 50px;
}
.Texto1{
   position: absolute;
   margin-top: 20%;
   margin-left: 10%;
   color: white;
}
.Texto2{
    position: absolute;
    color: white;
    margin-top: 25%;
    margin-left: 25%;
}
.Texto3{
    position: absolute;
    color: white;
    margin-top: 30%;
    margin-left: 20%;
}

/*boton*/
.btn {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    width: 250px;
    right: 80px;
    font-weight: 400;
    line-height: 45px;
    margin-top: 50px;
    margin-left: 1100px;
    max-width: 260px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
}

.btn-1,
.btn-2 {
    background: darken(blueviolet, 1.5%);
    font-weight: 100;
}

.btn-1 svg,
.btn-2 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect,
.btn-2 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.btn-1:hover,
.btn-2:hover {
    background: rgba(blueviolet, 0);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect,
.btn-2:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-2 {
    margin-top: 100px;
    margin-left: 100px;
}
